{% extends 'base.html' %}
{% load static %}
            {% block content %}
            <div class="blog-content col-md-8">
                
                <!-- Post Article
                ============================================= -->
                <article class="post wow fadeIn clearfix">    
                    <div class="post-date">
                        <span class="date-number">18</span>
                        <span class="date-month">MAR</span>
                    </div>
                    
                    <div class="post-meta">
                        <h2 class="post-title">Milk Shake with ButTer Cookies</h2>
                        <div class="meta-post-top">
                            <span class="author"><i class="smaze icon-user"></i>John</span>
                            <span class="comments"><i class="smaze icon-talk-chat-2"></i>0 Comments</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="post-thumb">
                            <img src="img/blog/blog1.jpg" alt="blog1" class="img-post">
                        </div>
                        <div class="post-excerpt">
                            <p>There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour.  There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour. </p>
                        </div> 
                        <a href="single-post.html" class="read-more btn">More</a>
                    </div>
                </article>
                <!-- post article end -->

                <!-- Post Article
                ============================================= -->
                <article class="post wow fadeIn clearfix">
                    <div class="post-date">
                        <span class="date-number">17</span>
                        <span class="date-month">MAR</span>
                    </div>
                    
                    <div class="post-meta">
                        <h2 class="post-title">World Famous Harbor in Cheisel</h2>
                        <div class="meta-post-top">
                            <span class="author"><i class="smaze icon-user"></i>John</span>
                            <span class="comments"><i class="smaze icon-talk-chat-2"></i>0 Comments</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="post-thumb">
                            <img src="img/blog/blog2.jpg" alt="blog2" class="img-post">
                        </div>
                        <div class="post-excerpt">
                            <p>There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour.  There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour. </p>
                        </div> 
                        <a href="single-post.html" class="read-more btn">More</a>
                    </div>
                </article>
                <!-- post article end -->

                <!-- Post Article
                ============================================= -->
                <article class="post wow fadeIn clearfix">               
                    <div class="post-date">
                        <span class="date-number">16</span>
                        <span class="date-month">MAR</span>
                    </div>
                    
                    <div class="post-meta">
                        <h2 class="post-title">Vintage Riding to Las Vegas</h2>
                        <div class="meta-post-top">
                            <span class="author"><i class="smaze icon-user"></i>John</span>
                            <span class="comments"><i class="smaze icon-talk-chat-2"></i>0 Comments</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="post-thumb">
                            <img src="img/blog/blog3.jpg" alt="blog3" class="img-post">
                        </div>
                        <div class="post-excerpt">
                            <p>There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour.  There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour. </p>
                        </div> 
                        <a href="single-post.html" class="read-more btn">More</a>
                    </div>
                </article>
                <!-- post article end -->

            </div>
            <!-- blog content end -->

            <!-- SIDEBAR
            ============================================= -->
            <aside id="primary-sidebar" class=" col-md-4 clearfix">

                <!-- Widget Latest News
                ============================================= -->
                <div class="widget-latest-news widget">
                    <h3 class="widget-title title-link">Recent Post</h3>

                     <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img1.jpg" alt="recent1">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Cheeta on the Road</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                    <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img2.jpg" alt="recent2">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Cup of Coffee</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                    <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img3.jpg" alt="recent3">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Vintage Camera</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                </div>
                <!-- end of latest news -->

                <!-- Widget Category
                ============================================= -->
                <div class="category-widget widget">
                    <h3 class="widget-title title-link">Categories</h3>
                    <ul class="widget-item">
                        <li><a href="#">HTML</a>
                        </li>
                        <li><a href="#">CSS/BootStrap</a>
                        </li>
                        <li><a href="{% url 'oracle' %}">Oracle</a>
                        </li>
                        <li><a href="#">Python</a>
                        </li>
                    </ul>
                </div>
                <!-- end of widget category -->

                <!-- Widget Archives
                ============================================= -->
                <div class="category-widget widget">
                    <h3 class="widget-title title-link">Archives</h3>
                    <ul class="widget-item">
                        <li><a href="#">March 2015</a>
                        </li>
                        <li><a href="#">February 2015</a>
                        </li>
                        <li><a href="#">January 2015</a>
                        </li>
                        <li><a href="#">December 2014</a>
                        </li>
                    </ul>
                </div>
                <!-- end of widget archives -->

                <!-- Widget Tags
                ============================================= -->
                <div class="tags-widget widget">
                    <h3 class="widget-title title-link">Tags</h3>
                    <a href="#">Inspiration</a>
                    <a href="#">Resource</a>
                    <a href="#">Stories</a>
                    <a href="#">News</a>
                    <a href="#">Social</a>
                    <a href="#">Photography</a>
                    <a href="#">Design</a>
                    <a href="#">Art</a>
                </div>
                <!-- end of tags -->

            </aside>
            <!-- end of sidebar -->

        </div>
        {% endblock %}
