{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- Our Service Section
            ============================================= -->
            <section class="our-services clearfix">

                <div class="container">
                    <h3 class="title-with-bord wow fadeIn">Our Service</h3>
                    <h2 class="thetitle wow fadeIn">
                         Coding Is Not Difficult
                     </h2>
                    <p class="subtitle wow fadeIn">
                        Coding isn't hard, it just requires more time and practice than you might expect.
                        The reason you might think it's 'hard' is because you're not getting results.
<!--                        We're serious about delivering great outcomes.-->
                     </p>

                    <div class="feature-service clearfix">

                        <div class="col-md-3">
                            <div class="feature-box">
                                <div class="feature-icon hi-icon-effect-8">
                                    <a href="/blog">
                                        <img height="128px" width="128px" src="{% static 'img/python.png' %}">
                                    </a>

                                </div>
                                <div class="feature-desc">
                                    <h4>Python</h4>
                                    <p>Python is an interpreted and high-level programming language</p>
                                    <a href="#" class="read-more btn">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="feature-box">
                                <div class="feature-icon hi-icon-effect-8">
<!--                                    <i class="smaze icon-cloud-upload-outline hi-icon"></i>-->
                                    <a href="/oracle">
                                        <img height="128px" width="128px" src="{% static 'img/oracle.png' %}">
                                    </a>
                                </div>
                                <div class="feature-desc">
                                    <h4>Oracle</h4>
                                    <p>Oracle Database is a multi-model database management system.</p>
                                    <a href="{% url 'oracle' %}" class="read-more btn">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="feature-box">
                                <div class="feature-icon hi-icon-effect-8">
<!--                                    <i class="smaze icon-streamline-sync hi-icon"></i>-->
                                    <img height="128px" width="128px" src="{% static 'img/html.png' %}">
                                </div>
                                <div class="feature-desc">
                                    <h4>HTML/CSS</h4>
                                    <p>Hypertext Markup Language is the standard markup language.</p>
                                    <a href="#" class="read-more btn">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="feature-box">
                                <div class="feature-icon hi-icon-effect-8">
<!--                                    <i class="smaze icon-screen hi-icon"></i>-->
                                    <img height="128px" width="128px" src="{% static 'img/js.png' %}">
                                </div>
                                <div class="feature-desc">
                                    <h4>JavaScript</h4>
                                    <p>JavaScript is high-level, often just-in-time compiled, and multi-paradigm.</p>
                                    <a href="#" class="read-more btn">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div><!--feature-service end-->

                </div><!--Container end-->
            </section><!--our-service end-->

{% endblock %}
