{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="blog-content col-md-8">
                <!-- Post Article
                ============================================= -->
                <article class="post wow fadeIn clearfix">
                    <div class="post-date">
                        <span class="date-number">21</span>
                        <span class="date-month">Dec</span>
                    </div>

                    <div class="post-meta">
                        <h2 class="post-title">Retrieving data by using the SQL Statements</h2>
                        <div class="meta-post-top">
                            <span class="author"><i class="smaze icon-user"></i>Sasik</span>
                            <span class="comments"><i class="smaze icon-talk-chat-2"></i>0 Comments</span>
                        </div>
                    </div>
                </article>
                <div class="post-meta">
                    <pre class="result notranslate">
                SELECT last_name,salary*12,MONTHS_BETWEEN(SYSDATE,hire_date)
                FROM employeesWHERE department_id = 30 ORDER BY last_name;<br>
                SELECT last_name, salary * 12, MONTHS_BETWEEN( SYSDATE, hire_date)
                FROM employees WHERE department_id=30 ORDER BY last_name;
                </pre>
                </div>

          </div>
            <!-- blog content end -->

            <!-- SIDEBAR
            ============================================= -->
            <aside id="primary-sidebar" class=" col-md-4 clearfix">

                <!-- Widget Latest News
                ============================================= -->
                <div class="widget-latest-news widget">
                    <h3 class="widget-title title-link">Recent Post</h3>

                     <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img1.jpg" alt="recent1">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Cheeta on the Road</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                    <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img2.jpg" alt="recent2">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Cup of Coffee</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                    <!-- widget-news -->
                    <div class="widget-news media">
                        <a class="pull-left" href="single-post.html">
                            <img class="media-image" src="img/widget/recent-post-img3.jpg" alt="recent3">
                        </a>
                        <div class="media-entry">
                            <h4 class="entry-title">
                                <a href="single-post.html">Vintage Camera</a>
                            </h4>
                            <p class="entry-text">
                                <a href="single-post.html">Maecenas metus lorem nulla facili prem lipsum.</a>
                            </p>
                        </div>
                    </div>
                    <!-- widget-news end -->

                </div>
                <!-- end of latest news -->

                <!-- Widget Category
                ============================================= -->
                <div class="category-widget widget">
                    <h3 class="widget-title title-link">Categories</h3>
                    <h2 class="widget-title title-link">Oracle SQL</h2>
                    <ul class="widget-item">
                        <li><a href="{% url 'BSelectstmt' %}">Introduction to SQL</a>
                        <li><a href="#">Retrieving data by using the SQL Statement</a></li>
                        <li><a href="#">Restraction and Sorting using WHERE Clause</a></li>
                        <li><a href="#">DDL And DML</a></li>
                        <li><a href="#">Database Transaction And Security</a></li>
                        <li><a href="#">Constraints</a></li>
                        <li><a href="#">Built In Functions</a></li>
                        <li><a href="#">Data Aggregation</a></li>
                        <li><a href="#">Importance Of JOIN</a></li>
                        <li><a href="#">Set Operators And Pseudo Columns</a></li>
                        <li><a href="#">Sub Queries</a></li>
                        <li><a href="#">Design Of Schema Objects</a></li>
                    </ul>
                    <h3 class="widget-title title-link">Oracle PL/SQL</h3>
                    <ul class="widget-item">
                        <li><a href="#">Introduction To PL/SQL</a></li>
                        <li><a href="#">Condition And Looping Statements</a></li>
                        <li><a href="#">Creating And Using Cursors</a></li>
                        <li><a href="#">Understanding Exception Handling</a></li>
                        <li><a href="#">Creating And Using Procedures</a>
                        <li><a href="#">Creating And Using Functions</a>
                        <li><a href="#">Creating And Using Packages</a>
                        <li><a href="#">Triggers In PL/SQL</a>
                        <li><a href="#">Collections In PL/SQL</a>
                        <li><a href="#">Bulk Collect In PL/SQL</a>
                        <li><a href="#">Dynamic SQL In PL/SQL</a>
                        <li><a href="#">Cursor Variable In PL/SQL</a>
                        <li><a href="#">Creating And Using Table Partitions</a>
                        <li><a href="#">Creating And Using Materialized Views</a></li>
                    </ul>
                </div>
                <!-- end of widget category -->

                <!-- Widget Archives
                ============================================= -->
                <div class="category-widget widget">
                    <h3 class="widget-title title-link">Archives</h3>
                    <ul class="widget-item">
                        <li><a href="#">March 2015</a>
                        </li>
                        <li><a href="#">February 2015</a>
                        </li>
                        <li><a href="#">January 2015</a>
                        </li>
                        <li><a href="#">December 2014</a>
                        </li>
                    </ul>
                </div>
                <!-- end of widget archives -->

                <!-- Widget Tags
                ============================================= -->
                <div class="tags-widget widget">
                    <h3 class="widget-title title-link">Tags</h3>
                    <a href="#">Inspiration</a>
                    <a href="#">Resource</a>
                    <a href="#">Stories</a>
                    <a href="#">News</a>
                    <a href="#">Social</a>
                    <a href="#">Photography</a>
                    <a href="#">Design</a>
                    <a href="#">Art</a>
                </div>
                <!-- end of tags -->
            </aside>
     </div>
{% endblock %}
